<form method="POST" action="/new">
  <h2>New Message:</h2>
  <label for="author">
    Author:
    <input name="author" id="author" type="text">
  </label>
  <label for="message">
    Message:
    <textarea name="message" id="message"></textarea>
  </label>
  <button type="submit">Submit</button>
</form>