<li class="message">
  <h2>
    <%= message.user %>
  </h2>
  <p>
    <%= message.added %>    
  </p>
  <p>
    <%= message.text %>    
  </p>
  <form action='/<%= message.id %>'>
    <button class="open-message">Open</button>
  </form>
</li>